---
import { getCollection } from 'astro:content'
import PostList from '../../../components/PostList.svelte'
import Layout from '../../../layouts/Layout.astro'

export const getStaticPaths = async () => {
  const posts = await getCollection('blog')
  return posts.map(post => ({
    params: { author: post.data.author }, props: { author: post.data.author, posts: posts.filter(p => p.data.author == post.data.author) }
  }))
}

const { author, posts } = Astro.props
---

<Layout title={`@${author} - TGR Group Blog`} desc={`${author}の記事一覧`}>
  <div class="min-h-screen bg-base-100">
    <div class="px-6 pt-16 pb-16 text-center">
      <a href="/blog" class="text-lg flex gap-2 items-center underline">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" /></svg>
        Blog
      </a>
      <div class="text-5xl font-bold mt-12">
        <img src={`https://github.com/${author}.png`} alt={`avatar_${author}`} class="w-16 h-16 mb-6 rounded-full mx-auto" />
        @ {author}
      </div>
    </div>
    <div class="p-6 container mx-auto">
      <PostList posts={posts} client:load />
    </div>
  </div>
</Layout>
