---
import { getCollection } from 'astro:content'
import { format } from 'date-fns'
import Layout from '../../../layouts/Layout.astro'

export const getStaticPaths = async () => {
  const posts = await getCollection('blog')
  return posts.map(post => ({
    params: { slug: post.slug }, props: { post }
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout title="" desc="">
  <div class="min-h-screen bg-base-100">
    <div class="p-6 prose text-neutral mx-auto">
      <div class="pt-16">
        <a href="/blog" class="text-lg flex gap-2 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" /></svg>
          Blog
        </a>
        <h1 class="text-3xl font-bold mt-6 mb-2">{post.data.title}</h1>
        <div class="inline-block">
          {post.data.tags.map((tag: string) => (
          <a href={`/blog/tags/${tag}`} class="m-1 no-underline"># {tag}</a>
          ))}
        </div>
        <div class="mt-2">
          <a href={`/blog/author/${post.data.author}`} class="no-underline">
            <div class="flex gap-2 items-center">
              <div class="flex-none">
                <img src={`https://github.com/${post.data.author}.png`} alt={`avatar_${post.data.author}`} class="w-6 h-6 rounded-full m-0" />
              </div>
              <div class="flex-none">
                {post.data.author}
              </div>
            </div>
          </a>
        </div>
        <div class="mt-2">
          {format(post.data.pubDate, 'MMM dd, yyyy')}
        </div>
      </div>
      <figure class="rounded-box overflow-hidden w-full aspect-[1200/630] bg-primary-content bg-no-repeat bg-center bg-[length:3rem_3rem]" style="background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBjbGFzcz0idy02IGgtNiI+PHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMi4yNSAxNS43NWw1LjE1OS01LjE1OWEyLjI1IDIuMjUgMCAwMTMuMTgyIDBsNS4xNTkgNS4xNTltLTEuNS0xLjVsMS40MDktMS40MDlhMi4yNSAyLjI1IDAgMDEzLjE4MiAwbDIuOTA5IDIuOTA5bS0xOCAzLjc1aDE2LjVhMS41IDEuNSAwIDAwMS41LTEuNVY2YTEuNSAxLjUgMCAwMC0xLjUtMS41SDMuNzVBMS41IDEuNSAwIDAwMi4yNSA2djEyYTEuNSAxLjUgMCAwMDEuNSAxLjV6bTEwLjUtMTEuMjVoLjAwOHYuMDA4aC0uMDA4VjguMjV6bS4zNzUgMGEuMzc1LjM3NSAwIDExLS43NSAwIC4zNzUuMzc1IDAgMDEuNzUgMHoiIC8+PC9zdmc+Cg==);">
        <img src={`/blog/og/${post.slug}.png`} alt={`image_${post.slug}`} />
      </figure>
      <Content />
    </div>
  </div>
</Layout>
