---
import TgrIcon from '../components/TgrIcon.astro'

export interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;

const links = {
  services: {
    'URL短縮': '//tgr.jp',
    'SmartAid': '//tgr.jp/smartaid',
    '稼動状況': '//status.tgrgroup.jp',
  },
  social: {
    'Twitter': '//twitter.com/TGRGroup_PR',
    'Instagram': '//instagram.com/tgrgroup_pr',
    'GitHub': '//github.com/TGR-Group',
  },
}
---

<!DOCTYPE html>
<html lang="ja" data-theme="winter" class="h-full bg-neutral">
  <head prefix="og: https://ogp.me/ns#">
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={title} />
    <meta property="og:description" content={desc} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@TGRGroup_PR" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={desc} />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <link rel="preconnect dns-prefetch" href="//www.clarity.ms" />
    <link rel="preconnect dns-prefetch" href="//static.cloudflareinsights.com" />
    <link rel="preconnect dns-prefetch" href="//www.googletagmanager.com" />
    <link rel="preconnect dns-prefetch" href="//www.google-analytics.com" />
    <link rel="preconnect dns-prefetch" href="//pagead2.googlesyndication.com" />
    <link rel="preconnect dns-prefetch" href="//fundingchoicesmessages.google.com" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png">
    <script type="text/javascript" is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-P3TSSMK7KK"></script>
    <script type="text/javascript" is:inline>
      function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-P3TSSMK7KK");
    </script>
    <script type="text/javascript" is:inline>
      !function(t,e,n,r,a,c,s){t[n]=t[n]||function(){(t[n].q=t[n].q||[]).push(arguments)},(c=e.createElement(r)).async=1,c.src="https://www.clarity.ms/tag/"+a,(s=e.getElementsByTagName(r)[0]).parentNode.insertBefore(c,s)}(window,document,"clarity","script","i7d8qhtkv7");
    </script>
    <script type="text/javascript" is:inline async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3108820769904183" crossorigin="anonymous"></script>
    <script type="text/javascript" is:inline async src="https://fundingchoicesmessages.google.com/i/pub-3108820769904183?ers=1" nonce="GWVRCwRSgbqGPjP5wcGdvg"></script>
    <script type="text/javascript" is:inline nonce="GWVRCwRSgbqGPjP5wcGdvg">
      !function e(){if(!window.frames.googlefcPresent){if(document.body){let n=document.createElement("iframe");n.style="width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;",n.style.display="none",n.name="googlefcPresent",document.body.appendChild(n)}else setTimeout(e,0)}}();
    </script>
    <script type="text/javascript" is:inline src="https://cdn.tgrgroup.jp/js/ads/8kadc5TOgN.js"></script>
    <script type="application/ld+json" set:html={JSON.stringify({
      "@context" : "http://schema.org",
      "@type" : "WebSite",
      "name" : title,
      "alternateName": ["TGRGroup - 公式サイト"],
      "description": desc,
      "url" : "https://tgrgroup.jp"
    })}/>
  </head>
  <body class="min-h-full bg-base-100">
    <div id="navbar" class="navbar bg-base-100 bg-opacity-90 backdrop-blur fixed top-0 z-10">
      <a href="/" class="btn btn-ghost normal-case text-xl">TGR Group</a>
    </div>
    <div class="pb-6">
      <slot />
    </div>
    <footer class="p-10 bg-neutral text-neutral-content sticky top-[100vh]" style={{ top: '100dvh' }}>
      <div class="footer max-w-2xl mx-auto">
        {Object.entries(links).map(([group, link]) => (
          <nav>
            <header class="footer-title">{group}</header>
            {Object.entries(link).map(([title, href]) => (
              <a href={href} target="_blank" class="link link-hover" rel="noopener noreferrer">{title}</a>
            ))}
          </nav>
        ))}
      </div>
      <div class="footer footer-center pt-14">
        <div>
          <TgrIcon classSvg="fill-neutral-content h-10" />
          <p class="font-bold text-xs">&copy; 2023 TGR Group</p>
        </div>
      </div>
    </footer>
  </body>
</html>
